<!DOCTYPE html>
<html lang="{% block lang %}en{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{% block title %}Blog by Leerlandais{% endblock %}</title>

    <!-- Favicon -->
    {% block favicon %}
    <link rel="shortcut icon" href="../favicon.ico">
    {% endblock %}

    {% block stylesheets %}{% endblock %}
</head>

<body>
{% block body %}
    {% block header %}
<!-- Header Section Start -->

    {% block navbar %}{% endblock %}
    {% block navmenu %}{% endblock %} {# end navmenu #}


<!-- Header Section End -->
{% endblock %}
    {% block intro %}{% endblock %}{# end intro #}

<div class="wrapper">
{% block featured %}{% endblock %}{# end featured #}
{% block services %}{% endblock %}{# end services #}
</div>

    {% block counter %}{% endblock %} {# end Counter #}
{% block footer %}{% endblock %} {# end footer #}
{% block scripts %}{% endblock %}
{% endblock %} {# endBody #}
</body>
</html>
